body {
    background-image: url("./assets/greenBackground.jpg");
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2, #results {
    color: #fff;
    margin: 0;
}

#dealer-cards img {
    width: 135px;
    height: 195px;
    margin: 5px;
}

#your-cards img {
    width: 135px;
    height: 195px;
    margin: 5px;
}

#hit {
    height: 50px;
    width: 100px;
    font-size: 25px;
}

#stand {
    height: 50px;
    width: 100px;
    font-size: 25px;
}

#results {
    font-size: 25px;
}